/* === Reset & Base === */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  font-family: 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 48em) {
  html { font-size: 16px; }
}
@media (min-width: 58em) {
  html { font-size: 20px; }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

/* === Typography === */

a {
  color: #227bb9;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 { font-size: 2rem; }
h2 { margin-top: 1rem; font-size: 1.5rem; }
h3 { margin-top: 1.5rem; font-size: 1.25rem; }
h4, h5, h6 { margin-top: 1rem; font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong { color: #303030; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
}

/* === Container === */

.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* === Sidebar === */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #49757a;
  color: #fff;
}

.sidebar a,
.sidebar-about h1 {
  color: #fff;
}

.sidebar-about h1 {
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: 400;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
  }

  footer {
    margin-left: 19rem !important;
    margin-right: 1rem !important;
  }
}

/* Sidebar nav */

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.sidebar-nav li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.sidebar-nav li:nth-child(-n+2) {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-nav li a {
  font-size: 1rem;
}

/* Profile image */

.img-circle { border-radius: 50%; }

.img-headshot {
  border: 6px solid #fff;
  height: 180px;
  width: 180px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Social icons */

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 1rem;
  width: 100%;
  padding-left: 30%;
}

.social-icon-item {
  display: flex;
  width: 100%;
}

.social-icon-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.social-icon-item i {
  width: 30px;
  margin-right: 10px;
  font-size: 1.2em;
  text-align: center;
}

.social-icon-text {
  font-size: 0.9em;
}

.social-icons a,
.social-icons a:hover,
.social-icons a:focus {
  text-decoration: none !important;
}

/* === Content === */

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 50%;
}

@media (min-width: 48em) {
  .content {
    max-width: 40rem;
    margin-left: 20rem;
    margin-right: 2rem;
    margin-bottom: -40px;
    min-height: 100%;
  }
}

footer a,
.content a,
.related-posts li a:hover {
  color: #5252e7;
}

/* === Footer === */

footer {
  font-size: .7rem;
  text-align: center;
  height: 40px;
  padding: 1rem 0;
  margin: 0 1rem;
  border-top: 1px solid #e0e0e0;
}

/* === Print === */

@media print {
  .sidebar {
    display: none !important;
  }

  .content {
    margin: 0 auto;
    width: 100%;
    float: none;
    display: initial;
  }

  .container {
    width: 100%;
    float: none;
    display: initial;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
}
